.navbar_container {
  background-color: #1877f2;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 4;
}

.navbar_wrapper {
  padding: 10px 0;
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  color: white;
}

.navbar_left {
  display: flex;
  flex: 3;
  align-items: center;
}

.navbar_left span {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* center */
/* center */

.navbar_center {
  display: flex;
  flex: 5;
  background: white;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
}

.navbar_center .navbar_search_icon {
  color: rgb(71, 71, 71);
  margin-left: 10px;
}

.navbar_center input {
  border: none;
  width: 85%;
}

.navbar_center input:focus {
  outline: none;
}

/* right */
/* right */

.navbar_right {
  display: flex;
  justify-content: space-between;
  flex: 4;
  align-items: center;
  gap: 10px;
}

.navbar_link_container {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  align-items: center;
  font-size: 15px;
}

.navbar_link_container a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar_icons {
  display: flex;
  cursor: pointer;
  gap: 15px;
  display: flex;
  position: relative;
  align-items: center;
}

.navbar_icon_item {
  position: relative;
}

.navbar_icon_badge {
  position: absolute;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.navbar_avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
}
