.share_container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.share_wrapper {
  width: 93%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 0.7em 0 2.4em 0;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.1);
}

.share_top {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
  margin-left: 0.6em;
}

.share_top img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.share_top input {
  border: none;
  margin-left: 12px;
  padding: 4px 0;
}

.share_top input:focus {
  outline: none;
}

/* end of top section */
/* end of top section */

.share_line {
  margin-bottom: 2rem;
  width: 91%;
  margin-left: 1.8em;
}

/* bottom section*/
/* bottom section*/

.share_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 1.55em;
}

.share_icon_container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.share_icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.share_photo {
  color: tomato;
  cursor: pointer;
}

.share_tag {
  color: blue;
  cursor: pointer;
}

.share_location {
  color: green;
  cursor: pointer;
}

.share_imoji {
  color: goldenrod;
  cursor: pointer;
}

.share_icon span {
  text-transform: capitalize;
}

.share_button_container {
  display: flex;
}

.share_button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
}

.share_icon_text {
  font-size: 14px;
  font-weight: 500;
}
